
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.hero{
  background-image: url('../public/Frame 1 mod.png');
  background-size: cover;

}



.cart{
  animation-name: cart-animation;
  animation-duration: 500ms;
}

@keyframes cart-animation {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 100;
  }
}

.menu{
  animation-name: menu-animation;
  animation-duration: 500ms;

}

@keyframes menu-animation {
  0%{
    opacity: 0;
    transform: translateY(-20px);

  }

  100%{
    opacity: 100;
    transform: translateY(0);

  }
}

